body {
	background-color: grey;
	/*line-height: 150%;*/
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
}

#mainheader{
	background-color: #ffff;
	margin: 0 auto;
	border-bottom: 3px solid #ccc;
	position: fixed;
	width: 100%
}

.subheader{
	width: 960px;
	margin: 0 auto;
	/*clear: both;*/
}

h1{
	/*padding: 0px, 30px;*/
	margin: 0 auto;
}

#logo {
	width: 250px;
	height: 80px;
	background: #4aaaa5;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
}


nav {
	float: right;
	margin-top: 2px;
	color: #999;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}

.container{
	
}


